<!-- {% load static %} -->
<br>

<div class="d-flex align-items-center">
    <h5>Folders: {{ folders_count }}</h5>
    <div class="ms-auto">
       <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle custom_priorety_select_menu_lg"
                type="button" data-bs-toggle="dropdown">
                <i class="bi bi-plus-lg"></i> Filter
            </button>
            <ul class="dropdown-menu shadow custom_priorety_select_menu_lg">
                <li><a class="dropdown-item" href="#">
                   <i class="bi bi-sort-alpha-down"></i> A-Z
                </a>
                </li>

                <li><a class="dropdown-item" href="#">
                    <i class="bi bi-sort-alpha-up-alt"></i> Z-A
                </a>
                </li>          
            </ul>
        </div>
    </div>
   
</div>
<hr class="m-0"> 
<div style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
    {% for box in boxes %}
        <div class="d-flex, align-items-center p-3 border-bottom">
            <h2 class="ms-3 mb-0"><i class="bi bi-box2-fill" style="font-size: 38px; color: {{ box.color }};"></i> {{ box.name }}</h2>
        </div>
    {% empty %}
        <p class="text-muted text-center mt-4">No boxes yet</p>
    {% endfor%}
</div>
