{% load static %}

<div class="modal fade" id="DeleteBoxModal-{{ box.pk }}" tabindex="-1" aria-labelledby="deleteboxModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content custom_modal_shadow">           
            <div class="modal-body text-center p-4">   
                <h2>Delete box?</h2>
                <p class="text-muted mb-4">Are you sure you want to delete <strong>""{{ box.name }}""</strong>?</p>
                <form action="{% url 'workspace:box_delete' box.pk %}" method="post" class="mt-3">
                    {% csrf_token %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>   
                    </div>     
                </form>   
            </div>
        </div>
    </div>
</div>