<div class="modal fade" id="LeaveWorkspaceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content custom_modal_shadow">
            <div class="modal-body text-center p-4">
                <h2>Leave workspace?</h2>
                <p class="text-muted mb-4">Are you sure you want to leave <strong>{{ workspace.name }}</strong>?</p>
                <form method="post" action="{% url 'workspace:workspace_leave' workspace.pk %}">
                    {% csrf_token %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Yes, Leave</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>