<div class="modal fade" id="WorkspaceModal" tabindex="-1" aria-labelledby="WorkspaceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom_modal_shadow">
            
            
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="WorkspaceModalLabel">Add Workspace</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            
            <form method="post" action="{% url 'workspace:workspace_create' %}">
                <div class="modal-body p-4">
                    {% csrf_token %}
                    

                    <div class="mb-3 ms-3">
                        <label class="form-label"></label>
                        {{ workspace_form.name }}
                    </div>

                    <br>

                    <div class="mb-3 d-flex flex-column gap-3">
                        <div> 
                            <div class="dropdown ms-3">
                                <button class="btn btn-sm dropdown-toggle custom_color_select_btn_lg shadow_custom_dropdown"
                                    type="button" data-bs-toggle="dropdown">
                                    <span id="create-size-workspace-label">Choose size for workspace</span>
                                </button>
                                <ul class="dropdown-menu shadow custom_color_select_menu_lg">
                                    <li><a class="dropdown-item rounded-3" href="#" onclick="createWorkspaceSize('one', 'Just me')">Just me</a></li>
                                    <li><a class="dropdown-item rounded-3" href="#" onclick="createWorkspaceSize('two-five', '2-5')">2-5</a></li>
                                    <li><a class="dropdown-item rounded-3" href="#" onclick="createWorkspaceSize('six-fifteen', '6-15')">6-15</a></li>
                                </ul>
                                <input type="hidden" name="workspace_space" id="create-size-workspace" value="one">
                            </div>
                            
                        </div>
                      
                        <br>

                        <div>
                            <div class="dropdown ms-3">
                                <button class="btn btn-sm dropdown-toggle custom_color_select_btn_lg shadow_custom_dropdown"
                                    type="button" data-bs-toggle="dropdown">
                                    <span id="create-invite-workspace-label">Choose role for inviters</span>
                                </button>
                                <ul class="dropdown-menu shadow custom_color_select_menu_lg">
                                    <li><a class="dropdown-item rounded-3" href="#" onclick="createInvitePermission('admin', 'Admin')">Admin</a></li>
                                    <li><a class="dropdown-item rounded-3" href="#" onclick="createInvitePermission('member', 'Member')">Member</a></li>
                                </ul>
                                <input type="hidden" name="invite_role" id="create-invite-workspace" value="admin">
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
    