{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/modal_styles.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex">
        {% include 'includes/leftbar.html' %}
        {% include 'workspace/modal_box_create.html' %}
        
        <div class="p-4" style="flex: 1 1 0; min-width: 0;">
            <h1><i class="bi bi-people"></i> {{workspace.name}}</h1>
            <br>
            <div class="mb-3 mt-3" style="max-width: 800px; max-height: 200px;">
                <input type="text" class="form-control" placeholder="Search">
            </div>

            <div class="d-flex align-items-center" style="margin-left: 12%;">
                <div class="d-inline-flex p-1 rounded-pill" 
                    style="background: rgba(0, 0, 0, 0.05); {% if user_role == 'member' %}width: fit-content{% endif %}">
                    
                    <a href="?tab=main"
                        class="btn btn-lg rounded-pill px-3 {% if tab == 'main' %}bg-white shadow-sm{% endif %}">
                        Main
                    </a>

                    {% if user_role == 'owner' or user_role == 'admin' %}
                    <a href="?tab=members"
                        class="btn btn-lg rounded-pill px-3 {% if tab == 'members' %}bg-white shadow-sm{% endif %}">
                        Members
                    </a>
                    {% endif %}

                    {% if user_role == 'owner' %}
                    <a href="?tab=logs"
                        class="btn btn-lg rounded-pill px-3 {% if tab == 'logs' %}bg-white shadow-sm{% endif %}">
                        Logs
                    </a>
                    {% endif %}

                    <a href="?tab=activity"
                        class="btn btn-lg rounded-pill px-3 {% if tab == 'activity' %}bg-white shadow-sm{% endif %}">
                        Activity
                    </a>
                </div>

                <div class="ms-auto">
                    {% if user_role == 'owner' or user_role == 'admin' %}
                        <div class="dropdown">
                            <button class="btn btn-sm dropdown-toggle custom_priorety_select_menu_lg"
                                type="button" data-bs-toggle="dropdown">
                                <i class="bi bi-plus-lg"></i> Add
                            </button>
                            <ul class="dropdown-menu shadow custom_priorety_select_menu_lg">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#AddBoxModal">
                                    <i class="bi bi-box"></i> Add box
                                </a>
                                </li>

                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#InviteModal">
                                    <i class="bi bi-person-plus"></i> Invite
                                </a>
                                </li>          
                            </ul>
                        </div>
                    {% elif user_role == 'member' %}
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#AddBoxModal">
                            <i class="bi bi-plus-lg"></i> Add box
                        </button>
                    {% endif %}
                </div>
            </div>

            <br><br>

            {% if tab == 'main' %}
                {% include 'workspace/main_tab.html' %}
            {% elif tab == 'members' and user_role in 'owner admin' %}
                {% include 'workspace/members_tab.html' %}
            {% elif tab == 'logs' and user_role == 'owner' %}
                <p>Logs content</p>
            {% elif tab == 'activity' %}
                <p>Activity content</p>
            {% endif %} 
        </div>
    </div>

    {% include 'includes/modal_task_create.html' %}
    {% include 'includes/modal_folder_create.html' %}
    {% include 'workspace/modal_invite.html' %}

    <script>
        var WORKSPACE_BOXES = {{ boxes_json|safe }};
    </script>
   
{% endblock %}

