{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/modal_styles.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'includes/leftbar.html' %}

    <div class="flex-grow-1 p-4" >
        {% if current_folder %}
            <h2>/{{ current_folder.name }}</h2>
        {% else %}
            <h2>Today</h2>
        {% endif %}
        <br>
        
        <ul class="list-group list-group-flush" data-simplebar style="max-height: 700px; overflow-x: hidden;">
        
            {% for task in tasks %}
                {% include 'includes/rightbar_task_scroll.html' with task=task %}
 
                
            {% empty %}
                <li class="list-group-item text-center py-4 text-muted">
                    <i class="bi bi-clipboard-x" style="font-size: 2rem;"></i>
                    <p class="mb-0">Tasks not found</p>
                </li>
            {% endfor %}
  
        </ul>
        <div class="list-group-item border-0 pt-3">
            <a class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#TaskModal">
                <i class="bi bi-plus-circle-fill"></i> Add task
            </a>
        </div> 
    </div>
</div>

{% include 'includes/modal_task_create.html' %}  
{% include 'includes/modal_folder_create.html' %}

{% for task in tasks %}
    {% include 'includes/modal_task_edit.html' with task=task %}      
{% endfor %}

{% for folder in folders %}
    {% include 'includes/modal_folder_delete.html' with folder=folder %}
{% endfor %}

{% endblock %}
